/****************** U S E D   F O N T S **********************/
@font-face {
	font-family: "LeagueGothic";
	src: url("../fonts/League_Gothic-webfont.eot");
	src: url("../fonts/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/League_Gothic-webfont.woff") format("woff"),
		url("../fonts/League_Gothic-webfont.ttf") format("truetype"),
		url("../fonts/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/********************* R E S E T *************************/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

a {
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}

a:hover {
	color: #b82924;
}

::-moz-selection {
	background-color: #b82924;
	color: #fff;
}

/* Works in Safari */
::selection {
	background-color: #b82924;
	color: #fff;
}

/************** G E N E R A L    S T Y L E ***************/
#wrapper {
	padding: 20px 20px;
	width: 100vw;
	background-color: #121212;
	box-shadow: 0 4px 6px #000;
}

body {
	background: url("../images/bg.png") repeat;
	font-family: Source, Tahoma, sans-serif;
	color: #fff;
	font-size: 14px;
	text-shadow: 1px 1px 0px #000;
}

header {
	margin-bottom: 25px;
}

#logo {
	position: relative;
}

#logo,
nav {
	display: inline-block;
	*display: inline;
	vertical-align: top;
}

#logo img {
	height: 60px;
	width: 120px;
	margin-left: 2vw;
	margin-top: 12px;
	border-radius: 1px 10px;
}

#logo #date {
	position: relative;
	font-size: 2vw;
	font-family: "Roboto Slab", serif;
	color: #757575;
	margin-left: 20px;
	margin-bottom: 10px;
	padding-left: 15px;
	text-shadow: -3px 0px 6px;
}

#logo #date::before {
	position: absolute;
	bottom: 5%;
	left: 0;
	content: "";
	width: 3px;
	height: 80px;
	background: #df1a1a;
}

nav #icon-search {
	margin-right: 40px;
	font-size: 44px;
	color: #ffffff;
}

#line .changingtext {
	display: inline-block;
}

#line .changingtext::before {
	display: block;
	position: relative;
	content: "";
	color: #932048;
	text-align: center;
	font-family: "Roboto Slab", serif;
	font-size: 4vw;
	line-height: 1.5;
	letter-spacing: 5px;
	font-weight: 1000;
	/* width: 100%; */
	/* left: calc(50vw + -100px); */
	text-transform: uppercase;
	text-shadow: 11px 11px 0 #000;

	animation-name: mychangea;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes mychangea {
	0% {
		content: "News";
		opacity: 0.58;
	}

	10% {
		content: "News";
		opacity: 1;
	}

	19% {
		content: "News";
		opacity: 0;
	}

	20% {
		content: "Economy";
		opacity: 0;
	}

	30% {
		content: "Economy";
		opacity: 1;
	}

	39% {
		content: "Economy";
		opacity: 0;
	}

	40% {
		content: "Entertainment";
		opacity: 0;
	}

	50% {
		content: "Entertainment";
		opacity: 1;
	}

	59% {
		content: "Entertainment";
		opacity: 0;
	}

	60% {
		content: "Science";
		opacity: 0;
	}

	70% {
		content: "Science";
		opacity: 1;
	}

	79% {
		content: "Science";
		opacity: 0;
	}

	80% {
		content: "Technology";
		opacity: 0;
	}

	90% {
		content: "Technology";
		opacity: 1;
	}

	99% {
		content: "Technology";
		opacity: 0;
	}

	100% {
		content: "Everything";
		opacity: 0;
	}
}

nav {
	margin: 25px;
	float: right;
	color: #932048;
}

nav::after {
	display: table;
	content: "";
	clear: both;
}

/************* H O M E    C O N T E N T *******************/
#line {
	position: relative;
	text-align: center;
}

#line h1 {
	padding: 0 10px;
	font-family: LeagueGothic, Impact, sans-serif;
	font-weight: normal;
	font-size: 70px;
	text-transform: uppercase;
	color: #41deed;
	text-shadow: 2px 2px 0 #000;
	text-align: center;
	letter-spacing: 3px;
}

#line h1,
.dline {
	display: inline-block;
	*display: inline;
}

.dline {
	width: 25vw;
	height: 10px;
	background: url("../images/bgdline.png") repeat-x;
	margin-bottom: 10px;
}

#not-found {
	text-align: center;
}

#ourserv {
	width: 100%;
	text-align: center;
}

#ourserv article {
	display: inline-block;
	*display: inline;
	margin: 30px 30px 0 20px;
	padding: 10px;
	height: 400px;
	width: 27%;
	vertical-align: top;
	text-align: center;
	border: 4px solid white;
	border-radius: 50px 10px;
}

#ourserv article img {
	border: none;
	border-radius: 5px;
	width: 75%;
	height: 180px;
	margin-bottom: 15px;
}

#ourserv article h1 {
	font-family: "Roboto Slab", serif;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#ourserv article:nth-child(3) {
	margin-right: 0;
}

#ourserv img {
	margin-bottom: 5px;
	box-shadow: 0 4px 6px #000;
}

#ourserv p {
	display: -webkit-box;
	text-align: justify;
	font-size: 20px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rm {
	display: block;
	padding: 1px 4px;
	color: #121212;
	background-color: #f2f2f2;
	width: 100px;
	height: 30px;
	margin-top: 15px;
	box-shadow: 0px 0px 3px #000;
	font-family: LeagueGothic, sans-serif;
	text-transform: uppercase;
	font-size: 22px;
	border-radius: 2px;
}

.rm:hover {
	background-color: #b82924;
	color: #121212;
}

#search-overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 75%);
	animation: fadeIn linear 0.2s;
	z-index: 1;
}

#form-container {
	display: none;
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
	/* font-size: 25px; */
	line-height: 95px;
	width: 200px;
	z-index: 1;
}

form.search input[type="text"] {
	position: relative;
	padding: 12px 20px 12px 55px;
	font-size: 20px;
	background: #f1f1f1;
	border: 4px solid #932048;
	height: 60px;
	width: 215px;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: white;
	background-image: url("../images/search-icon.jpg");
	background-position: 10px 10px;
	background-size: 40px;
	background-repeat: no-repeat;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

/* form.search input[type=text]:hover, */
form.search input[type="text"]:focus {
	width: 600px;
	border: 1px solid rgb(169, 128, 128);
}

form.search::after {
	display: table;
	content: "";
	clear: both;
}

form input[type="text"]::placeholder {
	color: red;
	font-weight: 700;
	padding-left: 0 30px;
	opacity: 0.7;
	letter-spacing: 8px;
}

.filter {
	display: inline-block;
	background-color: white;
	width: 600px;
	border-radius: 10px;
	max-width: 600px;
	min-width: 600px;
}

.filter label {
	margin-right: 5px;
	color: #000;
	font-size: 25px;
}

.filter #from {
	padding: 0 16px;
	float: left;
}

.filter #from::after {
	display: table;
	content: "";
	clear: both;
}

.filter #date-filter {
	font-size: 20px;
}

.filter #to input {
	margin-left: 32px;
}

.filter #filter-btn {
	font-size: 40px;
	margin-left: 50%;
}

/************* F O O T E R     S T Y L E *************************/

footer {
	margin: 40px 40px 40px 0;
	text-align: right;
}

@media (min-width: 769px) and (max-width: 991px) {
	#ourserv article {
		width: 40%;
	}

	#form-container {
		left: 25%;
	}

	.filter {
		width: 600px;
		max-width: 600px;
		min-width: 600px;
	}

	.filter #date-filter {
		font-size: 20px;
	}
}

@media (max-width: 768px) {
	#ourserv article {
		width: 100%;
		border: none;
	}

	#ourserv article::before {
		position: absolute;
		left: 17%;
		margin: -30px;
		content: "";
		width: 80%;
		height: 3px;
		background: #df1a1a;
	}

	#ourserv article img {
		width: 350px;
		height: 50%;
	}

	.dline {
		width: 20vw;
		height: 4px;
	}

	.filter {
		width: 280px;
		max-width: unset;
		min-width: unset;
	}

	form.search input[type="text"]:focus {
		width: 280px;
	}

	.filter #date-filter {
		font-size: 15px;
	}

	.filter #to {
		padding: 0 16px;
		float: left;
	}

	.filter #to input {
		margin-left: 28px;
	}

	.filter label {
		font-size: 20px;
	}
}

.loader {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	background: radial-gradient(#222, #000);
	overflow: hidden;
	z-index: 99999;
}

.loader-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 60px;
	width: 100px;
}

.loader-line-wrap {
	position: absolute;
	top: 0;
	left: 0;
	animation: spin 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
	box-sizing: border-box;
	height: 50px;
	overflow: hidden;
	transform-origin: 50% 100%;
	width: 100px;
}

.loader-line {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	border: 4px solid transparent;
	border-radius: 100%;
	box-sizing: border-box;
	height: 100px;
	width: 100px;
}

.loader-line-wrap:nth-child(1) {
	animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
	animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
	animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
	animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
	animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
	top: 7px;
	border-color: hsl(0, 80%, 60%);
	height: 90px;
	width: 90px;
}

.loader-line-wrap:nth-child(2) .loader-line {
	top: 14px;
	border-color: hsl(60, 80%, 60%);
	height: 76px;
	width: 76px;
}

.loader-line-wrap:nth-child(3) .loader-line {
	top: 21px;
	border-color: hsl(120, 80%, 60%);
	height: 62px;
	width: 62px;
}

.loader-line-wrap:nth-child(4) .loader-line {
	top: 28px;
	border-color: hsl(180, 80%, 60%);
	height: 48px;
	width: 48px;
}

.loader-line-wrap:nth-child(5) .loader-line {
	top: 35px;
	border-color: hsl(240, 80%, 60%);
	height: 34px;
	width: 34px;
}

@keyframes spin {

	0%,
	15% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}