ul {
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style: none;
}

li {
    display: inline-block;

    margin: 5px;

    text-decoration: none;
}

li a {
    font-family: "Oswald", sans-serif;

    text-decoration: none;

    color: black;
}
div.nav-left {
    float: left;

    padding: 15px;
}

div.nav-right {
    float: right;

    padding: 15px;
}

#banner {
    position: relative;

    height: 100%;
    margin-top: 10px;

    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content-banner {
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 30%;
    left: 5%;

    margin: 0;
    padding: 0;

    color: white;
}

#main-content {
    position: relative;

    background-color: lightgray;
}

#main-content > header {
    margin-bottom: -1.5%;
    margin-left: 3%;
}


#list_image::after {
    display: block;
    visibility: hidden;
    clear: both;

    content: ".";
}

#list_image {
    background-color: lightgray ;
}

div.image_column {
    float: left;

    width: 31%;
    margin: 1% 1% 0 1%;
}
.image > img {
    margin-top: 12px;
}

#footer {
    position: relative;
    top: -4%;

    clear: left;

    background-color: lightgray ;
}

.info1 {
    position: relative;
    bottom: 0;
    left: 2%;

    width: 31%;
}
.info2 {
    position: absolute;
    bottom: 0;
    left: 34%;

    width: 31%;
    margin-left: 10px;
}
.info3 {
    position: absolute;
    bottom: 0;
    left: 68%;

    width: 31%;
}

body,
html {
    height: 100%;
}
